/* Ensure the page does not exceed 100vh and prevent scrolling */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* Prevent scrolling */
  }
  
  /* Main container - Flexbox to split the screen */
  .main-container {
    display: flex;
    height: 100vh;
  }
  
  /* Both the login-container and image-container are set to 50% width and full viewport height */
  .login-container,
  .image-container {
    width: 50%;
    height: 100vh;
  }
  
  /* Styling for the Login Form */
  .login-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  /* Form container */
.form-container {
    width: 100%;
    max-width: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
.heading-login {
    text-align: left;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: bold;
    color: #333;
  }
  
.labels {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
    color: #333;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #f9f9f9;
  }
  
  input:focus {
    border-color: #007bff;
    outline: none;
    background-color: #fff;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #3A5B22;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2c4620;
  }
  
  /* Right half - Image container */
  .image-container {
    background-image: url("https://res.cloudinary.com/dtjlqngvn/image/upload/v1742677316/nhbzmbnpjieuqbeprpfe.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(60%);
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center; /* Centers the error message horizontally */
  }